:root {
  --color-default-white: #ffffff;
  --color-default-black: #000000;
  --color-text: #222222;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.2;
  font-size: 15px;
  color: var(--color-text);
  background: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
